<launch>

    <!--rosparam command="load" file="$(find surface_reconstruction)/cfg/surface.yaml"/-->
    <!--include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/--> 

    <node name="pointcloud_topic_use_sample" pkg="pointcloud_preprocess" type="pointcloud_topic_use_sample" output="screen" required="true"/>

</launch>