<launch>

    <!--rosparam command="load" file="$(find surface_reconstruction)/cfg/surface.yaml"/-->
    <!--include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/--> 
    <rosparam command="load" file="$(find surface_reconstruction)/cfg/surface.yaml"/>
    <node name="pre_processing" pkg="pointcloud_preprocess" type="pre_processing" output="screen" required="true"/>

</launch>